/debug
/release
/dram/debug
/dram/release
/dram/build
*.user
*.tdb
!tests/tests_regression/*/expected/*.tdb
*.tdb-journal
*.out
/build-simulation
/release-simulation
*.*~
build*/
._.DS_Store
.DS_Store
*.swp
*.swo
cscope*
*.pyc
*.autosave
*__pycache__*
.vscode
cmake-build*
.idea
.cache
.env
scripts/
